@using la_mia_pizzeria_crud_mvc.Models
@model Pizza

@{
    ViewData["Title"] = "Dettagli pizza";
    Layout = "_MioLayout";
}



<div class="container text-center">

    <div class="row justify-content-center">
        <div class="col-md-4">
            <h1>Crea Nuova Pizza</h1>

            <h4>Pizza</h4>
            <hr />

            <form asp-controller ="Pizza" asp-action="Create" enctype="multipart/form-data" method="post">
                <div class="form-group">
                    <strong>Nome:</strong>
                    <input asp-for="Nome" class="form-control" />
                    <span asp-validation-for="Nome" class="text-warning"></span>
                </div>
                <div class="form-group">
                    <strong>Descrizione:</strong>
                    <textarea asp-for="Descrizione" class="form-control"></textarea>
                    <span asp-validation-for="Descrizione" class="text-warning"></span>
                </div>
                <div class="form-group">
                    <strong>Prezzo:</strong>
                    <input asp-for="Prezzo" class="form-control" />
                    <span asp-validation-for="Prezzo" class="text-warning"></span>
                </div>
                <div class="form-group">
                    <strong>Foto:</strong>
                    <input type="text" asp-for="Foto" class="form-control" />
                    <span asp-validation-for="Foto" class="text-warning"></span>
                </div>
                <div class="form-group">
                    <input type="submit" value="Crea" class="btn btn-primary" />
                </div>
            </form>
        </div>
    </div>

    <button class="btn btn-danger"><b><a href="@Url.Action("Index", "Pizza")">Indietro</a></b></button>

</div>


